/*BGs*/
.bg-fixed {
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.bg-image{
	background-image: url('../images/background.jpg');
}
/*End of BGs*/

/* Tabs */
.etabs{
	color: black;
	font-style: oblique;
	font-size: 16px;
	height: 18px;
	margin: 0;
	padding: 0px;
	text-align: center;
}
.etabs li span{
	display: none;
}
#tab-data-wrap{
	padding: 30px 20px;
	background: #fff;
	border: 1px solid #f1f1f1;
	box-shadow: 0px 6px #c0392b;
	border-radius: 0px 0px 4px 4px;
}


.tab {
	display: inline-block;
	zoom: 1;
	*display: inline;
	padding:10px;
	width:80px;
	height:40px;
	background: #fff;
	border: solid 1px #f1f1f1;
	border-bottom: 0px;
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	 margin-right:10px; 
}

.tab a {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 14px;
	display: block;
	padding: 2px 10px;
	outline: none;
	color: #888;
	text-decoration: none;
}

.tab a:hover {
	text-decoration: none;
}

.tab.active {
	background: #fff;
	position: relative;
	top: 1px;
	border-color: #f1f1f1;
	border-bottom: none;
}

.tab a.active {
	padding-top: 10px;
	color: #e74c3c;
}
.tab a i{
	font-size: 16px;
	margin-right: 0px;
}


/*End of Tabs*/
