/* TYPOGRAPHY */
/* Composed to a scale of 12px, 14px, 16px, 18px, 21px, 24px, 36px, 48px, 60px and 72px */
h1, h2, h3, h4, h5, h6 {font-family:'Open Sans', sans-serif;color:#444;}
h1 {margin: 0; font-size: 3.75em; line-height: 1.2em; margin-bottom: 0.4em} /* 60px / 72px */
h2 {margin: 0; font-size: 3em; line-height: 1em; margin-bottom: 0.5em} /* 48px / 48px */
h3 {margin: 0; font-size: 2.25em; line-height: 1.3333333333333333333333333333333em; margin-bottom: 0.6667em} /* 36px / 48px */ 
h4 {margin: 0; font-size: 1.5em; line-height: 1em; margin-bottom: 1em} /* 24px / 24px */
h5 {margin: 0; font-size: 1.3125em; line-height: 1.1428571428571428571428571428571em; margin-bottom: 1.1428571428571428571428571428571em} /* 21px / 24px */
h6 {margin: 0; font-size: 1.125em; line-height: 1.3333333333333333333333333333333em; margin-bottom: 1em} /* 18px / 24px */
p, ul, blockquote, pre, td, th, label {margin: 0; font-size: 1em; line-height: 1.5em; margin-bottom: 1.5em} /* 16px / 24px */
p.ns{font-size: 0.875em; margin: 0em 0em 0em 5em;} /* 16px / 24px */
small, p.small {margin: 0; font-size: 0.875em; line-height: 1.7142857142857142857142857142857em; margin-bottom: 1.7142857142857142857142857142857em} /* 14px / 24px */

/* Wrapper */
.main{
  padding-top: 50px;
  max-width: 1020px;
}
.wrapper{
  margin: 0 auto;
}
.no-list{
  margin: 0px;
  padding: 0px;
  list-style: none;
}

/*BGs*/
.bg-fixed {
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.bg-image{
	background-image: url('../images/background_road.jpg');
}
/*End of BGs*/

.clearfix:after { 
 content: "."; 
 visibility: hidden; 
 display: block; 
 height: 0; 
 clear: both;
}

/* Footer */
footer{
  text-align: center;
  margin-top: 2em;
  padding: 10px;
  background: rgba(255, 255, 255,.8);
  box-shadow: 0px 4px #ccc;
  color: #333;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
footer p{
  margin-bottom: 0px;
}
/*End of Footer */

/*Info*/
.info-wrap{

}
.info{

}
.info h2, #header h2{
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: .3em;
}
.info h4, #header h4{
  color: #999;
}
/*End of Info*/

/* Header */
#header{
	margin-bottom: 2em;
}
#header #logo{
	text-align: center;
}


#header h4{
	margin-bottom:0px; 
}
#header .visible{
	opacity: 1;
}
/*End of Header*/

/* Tabs */
.etabs{
	color: black;
	font-family:Impact, Charcoal, sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0px;
	text-align: center;
}
.etabs li span{
	display: none;
}

#tab-data-wrap{
	padding: 30px 20px;
	background: #fff;
	border: 1px solid #f1f1f1;
	border-radius: 0px 0px 4px 4px;
}

.tab {
	display: inline-block;
	zoom: 1;
	*display: inline;
	background: #fff;
	color: black;
	border: solid 1px #f1f1f1;
	border-bottom: 0px;
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	margin-right:10px; 
}

.tab a {
	text-transform: uppercase;
	font-size: 14px;
	display: block;
	padding: 2px 10px;
	outline: none;
	text-decoration: none;
}

.tab a:hover {
	color: blue;
	text-decoration: none;
}

.tab.active {
	background: #fff;
	position: relative;
	top: 1px;
	border-color: #f1f1f1;
	border-bottom: none;
}

.tab a.active {
	padding-top: 10px;
	color: red;
}
.tab a i{
	font-size: 16px;
	margin-right: 0px;
}

/*End of Tabs*/

/*Dropdown*/
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}
/*End of Dropdown*/

/* Labels */
.label {
  display: inline;
  padding: .25em .6em;
  font-size: 75%;
  font-weight: 500;
  line-height: 1;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}
.label-info {
  background-color: #5bc0de;
}

.label-info[href]:hover,
.label-info[href]:focus {
  background-color: #31b0d5;
}
.label[href]:hover,
.label[href]:focus {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.label-default {
  background-color: #999999;
}

.label-default[href]:hover,
.label-default[href]:focus {
  background-color: #808080;
}

.label-danger {
  background-color: #d9534f;
}

.label-danger[href]:hover,
.label-danger[href]:focus {
  background-color: #c9302c;
}

.label-success {
  background-color: #5cb85c;
}

.label-success[href]:hover,
.label-success[href]:focus {
  background-color: #449d44;
}

.label-warning {
  background-color: #f0ad4e;
}

.label-warning[href]:hover,
.label-warning[href]:focus {
  background-color: #ec971f;
}
/*End of Label*/

/* Experience */
.experience h3{
  border-top: 5px solid #f49b42;
  margin-top: 1em;
	margin-bottom: 0em;
	margin-left: 0em;
	margin-right: 0em;
}
.experience li{
  border-top: 3px solid #f1f1f1;
  margin-top: 1em;
	margin-bottom: 0em;
	margin-left: 5em;
	margin-right: 5em;
}
.experience li span{
  float: right;
}
.experience li h5{
  float: left;
}
.experience li p{
  clear: both;
}
/*End of Experience*/
/*
.ll{
	font-family:'Open Sans', sans-serif;color:#444;
}
*/
.none-a {
	color: black;
	/*padding: 2px 10px;*/
	outline: none;
	text-decoration: none;
}
.none-a:hover {
	color: blue;
	font-size: 125%;
	background-color: yellow;
	text-decoration: none;
}
a {
	color: black;
	/*padding: 2px 10px;*/
	outline: none;
	text-decoration: none;
}
a:hover {
	color: blue;
	text-decoration: none;
}

